.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:  #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form{
    display: flex;
    flex-direction: column;
  }
  
  .form-field{
    margin-bottom: 20px;
  }
  
  .label{
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .input{
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }