.home-style {
    display: flex;
    height: 100vh;
    align-items: center;
}

.match-container {
    max-height: 500px;
    overflow-y: auto;
    width: 50%;
}

.match-container-style {
    overflow-y: hidden;
    max-height: 1200px;
}

.edit-container {
    width: 50%;
    height: auto;
}