.editMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .editMap_actions {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  .map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}
