.upload-button {
  position: fixed;
  bottom: 120px;
  right: 55px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--button-widget-color);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.import-button {
  position: fixed;
  top: 50px;
  right: 50px;
  padding: 14px;
  cursor: pointer;
  background-color: var(--button-widget-color);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.select_save_slot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 0.5rem;
}
.slot_send_button {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: var(--button-widget-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slot_send_button:hover {
  background-color: var(--button-widget-hover-color);
}
