.selectEnem {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*background-color: blue;*/
}

.search {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.search_bar > input {
  border: none !important;
  background-color: var(--neutral-100);
}

.search_bar > input:focus {
  outline-width: 0;
}

.program_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.program_items {
  min-width: 96px;
  min-height: 96px;
  margin: 4px;
  justify-content: center;
}

.program_buttons_H {
  width: 100%;
  height: 100%;
  color: var(--light-text-color);
  background-color: var(--hot-500);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.program_buttons_H:hover {
  background-color: var(--hot-600);
}

.program_buttons_C {
  width: 100%;
  height: 100%;
  color: var(--light-text-color);
  background-color: var(--cool-500);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.program_buttons_C:hover {
  background-color: var(--cool-600);
}

.startButton {
  margin: 16px;
  line-height: 2.5;
  padding: 10px 20px;
  min-width: 256px;
  font-size: 20px;
  background-color: #ffffff;
  border: 1;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startButton:hover {
  background-color: #c3c3c3;
}

.backButton {
  line-height: 2.5;
  width: 64px;
  height: 40px;
  justify-content: center;
}
