.App {
  text-align: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Primary */
  --primary-100: #f2f9ff;
  --primary-200: #ceecff;
  --primary-300: #aae2fe;
  --primary-400: #86dcfd;
  --primary-500: #61d9fa;
  --primary-600: #36aec5;
  --primary-700: #1f8590;
  --primary-800: #12585b;
  --primary-900: #072626;

  /* Neutral */
  --neutral-100: #fafbfc;
  --neutral-200: #e5e9eb;
  --neutral-300: #d1d7da;
  --neutral-400: #bec6c9;
  --neutral-500: #abb5b8;
  --neutral-600: #889193;
  --neutral-700: #656e6f;
  --neutral-800: #444a4b;
  --neutral-900: #222626;

  /* WARN */
  --warn-100: #fff2f2;
  --warn-200: #ffcccc;
  --warn-300: #ff9999;
  --warn-400: #ff6666;
  --warn-500: #ff3333;
  --warn-600: #cc0000;
  --warn-700: #990000;
  --warn-800: #660000;
  --warn-900: #330000;

  /* HOT */
  --hot-100: #fff5f2;
  --hot-200: #ffcdc2;
  --hot-300: #ff9f93;
  --hot-400: #ff6c63;
  --hot-500: #ff3333;
  --hot-600: #c91111;
  --hot-700: #930404;
  --hot-800: #5c0000;
  --hot-900: #260000;

  /* COOL */
  --cool-100: #f5f2ff;
  --cool-200: #d2c9ff;
  --cool-300: #ab9fff;
  --cool-400: #7e76ff;
  --cool-500: #4d4dff;
  --cool-600: #252fc9;
  --cool-700: #122193;
  --cool-800: #0a185c;
  --cool-900: #040c26;

  --button-widget-color: var(--primary-500);
  --button-widget-hover-color: var(--primary-600);
  --light-text-color: var(--neutral-100);
  --dark-text-color: var(--neutral-900);
}

input {
  background-color: var(--neutral-100);
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  outline: none !important;

  transition: border 0.3s ease;

  border: 3px solid var(--neutral-300);
  &:focus {
    border: 3px solid var(--neutral-800);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

button.primary {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: var(--light-text-color);
  background-color: var(--button-widget-color);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color max-width 0.3s ease;

  &:hover {
    background-color: var(--button-widget-hover-color);
  }
  &.loading {
    background-color: var(--neutral-300);
    cursor: progress;
    .label {
      display: none;
    }
    &::after {
      content: "";
      display: block;
      min-width: 2rem;
      height: 2rem;
      border: 0.2rem solid var(--neutral-800);
      border-right-color: transparent;
      border-radius: 50%;
      animation: spinner 0.8s linear infinite;
      transform-origin: 50%;
    }
  }
}
button.secondary {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--dark-text-color);
  background-color: var(--neutral-100);
  border: 3px solid var(--neutral-300);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--neutral-200);
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
