.initial {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-box {
  margin: 10px 40px;
}

.button-style {
  line-height: 2.5;
  padding: 10px 20px;
  min-width: 256px;
  font-size: 20px;
  color: var(--light-text-color);
  background-color: var(--button-widget-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-style:hover {
  background-color: #0d8fbd;
}
